<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        .container {
            width: 200px;
            height: 200px;
        }
/*         #miGrafico {
            width: 100% !important;
            height: 100% !important;
        } */
    </style>


</head>
<body>



    <!--        SOLICITAR GRÁFICOS                                      -->
    <p id="datos"> </p>
    
    <!--       COMBOBOX PARA SELECECCIONAR EL TIPO DE DE GRÁFICO         -->
    <select id="tipo_grafico">
        <option value="bar">bar</option>
        <option value="pie">pie</option>
        <option value="box">box</option>        
        <option value="box_by_category">box with categories</option>
        <option value="line">line</option>
        <option value="scatter">scatter</option>
        <option value="area">area</option>
    </select>
    <button id="btn">solicitar datos para graficar </button>

    
        



    <!--          SOLICITAR ESTADISTICO            -->

    <p id="datos-estadisticos"></p>
    <select name="tipo-estadistico" id="tipo-estadistico">
        <option value="media">Media</option>
        <option value="mediana">Mediana</option>
        <option value="desviacion_estandar">std</option>
        <option value="varianza">Varianza</option>
        <option value="minimo">Mínimo</option>
        <option value="maximo">Máximo</option>
    </select>
    <button id="btn-estadistico">solicitar datos de estadistico</button>






    <!--          SOLICITAR ENTRENAMIENTO            -->
    <p id="datos-entrenamiento"></p>
    <select name="tipo-entrenamiento" id="tipo-entrenamiento">
        <option value="regresion">Regresion</option>
        <option value="clasificacion">Clasificacion</option>

    </select>

    <select name="modelo-entrenamiento" id="modelo-entrenamiento">
        <option value="linear_regression">Linear Regression</option>
        <option value="random_forest_regressor">Random Forest Regressor</option>
        <option value="decision_tree_regressor">Decision Tree Regressor</option>
        <option value="svm_regressor">SVR</option>
        <option value="knn_regressor">KNN</option>

        <option value=logistic_regression> Logistic Regression</option>
        <option value=random_forest_classifier> Random Forest Classifier</option>
        <option value=decision_tree_classifier> Decision Tree Classifier</option>
        <option value=svm_classifier> SVM Classifier</option>
        <option value=knn_classifier> KNN Classifier</option>
        <option value=naive_bayes> Naive Bayes</option>

    </select>



    <button id="btn-entrenamiento">solicitar datos de entrenamiento</button>








    <script>
        //solicitud
        function solicitudPOST(url,data){
            
            fetch(url, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',  // Indicar que los datos son en formato JSON
                },
                body: JSON.stringify(data)  // Convertir el objeto JavaScript a una cadena JSON
            })// retorna promesa
            .then(respose=>respose.json())
            .then(data=>{ 
                console.log("Respuesta Recibida:",data);
                //document.getElementById("datos-entrenamiento").textContent =JSON.stringify(data,null,2);
            })
            .catch(error=>{console.error("Error en la solicitud",error)})
        }


        // solicitar datos de gráficos
        function solicitarDatosGrafico(){
            const url = "{% url 'obtener_datos_grafico' %}";
            const select_tipo = document.getElementById("tipo_grafico");
            const tipo = select_tipo.value;
            const variables = ["Valores","Categoria"]; 
            console.log(tipo)
            // datos
            const data = {
                tipo: tipo,
                variables:["Valores","Valores2"], //y,x
            };
            
            solicitudPOST(url,data);
            //Grafico de barras : ["Valores","Categoria"]
            //Grafico de pie : ["Categoria"]
            //Grafico box : ["Valores"]
            //Grafico box with category: ["Valores","Categoria"]
            //Grafico line,scatter,area : ["Valores","Valores2"]
   

        }

        document.getElementById("btn").addEventListener("click",solicitarDatosGrafico);
        
        

        // solicitar estadísticos
        function solicitarDatosEstadistico(){
            const url = "{% url 'generar_estadistico' %}";
            const select_tipo = document.getElementById("tipo-estadistico");
            const tipo = select_tipo.value;
            const variables = ["Valores"];
            const data = {
                tipo: tipo,
                variables:["Valores"] // debe ir 1 o mas variables numericas
            };

            solicitudPOST(url,data);

        
        }

        document.getElementById("btn-estadistico").addEventListener("click",solicitarDatosEstadistico)


        function solicitarDatosEntrenamiento(){
            const url = "{% url 'entrenar_modelo' %}";
            const select_tipo = document.getElementById("tipo-entrenamiento");
            const tipo = select_tipo.value;
            const select_modelo = document.getElementById("modelo-entrenamiento");
            const modelo = select_modelo.value;
            const busqueda = "GridSearchCV";
            const params = {};
            const scoring = "neg_mean_squared_error";
            console.log(tipo)
            // datos
            const data = {
                tipo: tipo,
                modelo:modelo,
                // busqueda:busqueda, //opcional 
                // params:params,//opcional 
                // scoring:scoring,//opcional 
                // n_iter,//opcional 
            };
            solicitudPOST(url,data);
        }
        
    
        document.getElementById("btn-entrenamiento").addEventListener("click",solicitarDatosEntrenamiento);

    </script>
</body>
</html>