<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Document</title>


    <style>
        .container {
            width: 200px;
            height: 200px;
        }
/*         #miGrafico {
            width: 100% !important;
            height: 100% !important;
        } */
    </style>


</head>
<body>



    <!--        SOLICITAR GRÁFICOS                                      -->
    <button id="btn">solicitar datos para graficar </button>
    <p id="datos"> </p>
    
    <!--       COMBOBOX PARA SELECECCIONAR EL TIPO DE DE GRÁFICO         -->
    <select id="tipo_grafico">
        <option value="bar">bar</option>
        <option value="pie">pie</option>
        <option value="box">box</option>        
        <option value="box_by_category">box with categories</option>
        <option value="line">line</option>
        <option value="scatter">scatter</option>
        <option value="area">area</option>
    </select>
    
    
        
    <!--        EL GRAFICO-->
    <div class="container w-75" >
        <canvas id="miGrafico"></canvas>
    </div> 


    <!--          SOLICITAR ESTADISTICO            -->
    <button id="btn-estadistico">solicitar datos de estadistico</button>
    <p id="datos-estadisticos"></p>
    <select name="tipo-estadistico" id="tipo-estadistico">
        <option value="media">Media</option>
        <option value="mediana">Mediana</option>
        <option value="desviacion_estandar">std</option>
        <option value="varianza">Varianza</option>
        <option value="minimo">Mínimo</option>
        <option value="maximo">Máximo</option>
    </select>


    <!--          SOLICITAR ENTRENAMIENTO            -->
    <button id="btn-entrenamiento">solicitar datos de entrenamiento</button>
    <p id="datos-entrenamiento"></p>
    <select name="tipo-entrenamiento" id="tipo-entrenamiento">
        <option value="clasificacion">Clasificacion</option>
        <option value="regresion">Regresion</option>
    </select>

    <select name="modelo-entrenamiento" id="modelo-entrenamiento">
        <option value="linear_regression">Linear Regression</option>
        <option value="random_forest_regressor">Random Forest Regressor</option>
        <option value="decision_tree_regressor">Decision Tree Regressor</option>
        <option value="svm_regressor">SVR</option>
        <option value="knn_regressor">KNN</option>
    </select>

    <script>
        // solicitar datos de gráficos
        function solicitarDatosGrafico(){
            const url = "{% url 'obtener_datos_grafico' %}";
            const select_tipo = document.getElementById("tipo_grafico");
            const tipo = select_tipo.value;
            const variables = ["Valores","Categoria"];
            console.log(tipo)
            // datos
            const data = {
                tipo: tipo,
                variables: ["Valores","Categoria"],
            };
            //solicitud
            fetch(url, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',  // Indicar que los datos son en formato JSON
                },
                body: JSON.stringify(data)  // Convertir el objeto JavaScript a una cadena JSON
            })// retorna promesa
            .then(respose=>respose.json())
            .then(data=>{ 
                console.log("Respuesta Recibida:",data);
                document.getElementById("datos").textContent =JSON.stringify(data,null,2);
                 
                // if(tipo==='bar'){
                //     crearGraficoBarra(data,variables,tipo);
                // }
                

            })
            .catch(error=>{console.error("Error en la solicitud",error)})
        }

        document.getElementById("btn").addEventListener("click",solicitarDatosGrafico);
        
        function crearGraficoBarra(valores,variables,tipo){
            // crear un gráfico
            const ctx = document.getElementById("miGrafico");
            const var_y = valores[variables[0]];
            const var_x = valores[variables[1]];
            const data = {
                labels:var_x,
                datasets:[{
                    label:"Grafico de barras de ",
                    data:var_y,
                    borderWidth:1,
                }]
            };
            const config = {
                type:tipo,
                data:data,
                options:{
                    scales:{
                    y:{
                        beginAtZero: true
                    }
                    }
                }
                };
            let chart = new Chart(ctx,config);
        }


        // solicitar estadísticos
        function solicitarDatosEstadistico(){
            const url = "{% url 'generar_estadistico' %}";
            const select_tipo = document.getElementById("tipo-estadistico");
            const tipo = select_tipo.value;
            const variables = ["Valores","Categoria"];
            const data = {
                tipo: tipo,
                variables:["Valores"]//,"Categoria"]
            };
            //solicitud
            fetch(url, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',  // Indicar que los datos son en formato JSON
                },
                body: JSON.stringify(data)  // Convertir el objeto JavaScript a una cadena JSON
            })// retorna promesa
            .then(respose=>respose.json())
            .then(data=>{ 
                console.log("Respuesta Recibida:",data);
                document.getElementById("datos-estadisticos").textContent =JSON.stringify(data,null,2);


            })
            .catch(error=>{console.error("Error en la solicitud",error)})
        
        }

        document.getElementById("btn-estadistico").addEventListener("click",solicitarDatosEstadistico)


        function solicitarDatosEntrenamiento(){
            const url = "{% url 'entrenar_modelo' %}";
            const select_tipo = document.getElementById("tipo-entrenamiento");
            const tipo = select_tipo.value;
            const select_modelo = select_modelo = document.getElementById("modelo-entrenamiento");
            const modelo = select_modelo.value;
            const busqueda = "GridSearchCV";
            const params = {};
            const variables = ["Valores","Categoria"];
            const scoring = "neg_mean_squared_error";
            console.log(tipo)
            // datos
            const data = {
                tipo: tipo,
                modelo:modelo,
                busqueda:busqueda, //opcional 
                params:params,//opcional 
                scoring:scoring,//opcional 
                n_iter,//opcional 
            };
            //solicitud
            fetch(url, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json',  // Indicar que los datos son en formato JSON
                },
                body: JSON.stringify(data)  // Convertir el objeto JavaScript a una cadena JSON
            })// retorna promesa
            .then(respose=>respose.json())
            .then(data=>{ 
                console.log("Respuesta Recibida:",data);
                document.getElementById("datos-entrenamiento").textContent =JSON.stringify(data,null,2);

            })
            .catch(error=>{console.error("Error en la solicitud",error)})
        }

        document.getElementById("btn-entrenamiento").addEventListener("click",solicitarDatosEntrenamiento);

    </script>
</body>
</html>